@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

#map {
  cursor: default;
  height: 100vh;
  z-index: 1;
}

.info {
  background-color: white;
  text-align: center;
  width: 20vw;
}

#floor-layers  {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  z-index: 800;
}

form {
  display: flex;
  flex-direction: column-reverse;
}

form button {
  width: 14vw; 
  height: 10vw;
  border: solid 1px;
}